
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.indent {
  padding-left: 2em;
  white-space: pre-wrap;
}

.typewriter-cursor::after {
  content: '|';
  animation: blink 1s step-start infinite;
  margin-left: 2px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}